body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container{
  text-align: center;
  
}
.board{
  width: 720px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  /*border: 1px solid black;*/
}

.generator-container{
  display: block;
  position: fixed;
  border: 1px solid black;
  padding: 20px;
  margin: 100px;
}

.square{
  width: 4rem;
  height: 4rem;
  margin: 4px;
  border: 1px solid #CCC;
  display: inline-block;
  color: #CCC;
  font-size: 24px;
  box-sizing: border-box;
  border-radius: 5px;
}

.generated {
  border-color: rgba(18, 110, 34, 0.637);
  color: darkgreen;
  background-color: rgb(182, 230, 208);
}

.number{
  font-size: 36px;
  text-align: center;
  color: darkgreen;
  font-weight: bold;
  margin-top: 40px;
  display: inline-block;
  background-color: #EEE;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #EEE;
}

.ticket {
  position: relative;
  box-sizing: border-box;
  width: 470px;
  height: 240px;
  margin: 150px auto 0;
  padding: 20px;
  border-radius: 10px;
  background: lightyellow;
  box-shadow: 2px 2px 15px 0px #ab9b0d;
  display: flex;
  flex-wrap: wrap;
}

.eachNum {
  width: 3rem;
  height: 3rem;
  margin: 2px;
  border: 1px solid #CCC;
  display: inline-block;
  font-size: 16px;
  box-sizing: border-box;
  border-radius: 5px;
}

.ticket:before, .ticket:after {
  content: '';
  position: absolute;
  left: 5px;
  height: 6px;
  width: 460px;  /* dependent on .ticket width (ticket width -10px)*/
  
}
.ticket:before {
  top: -5px;
  background: radial-gradient(circle, transparent, transparent 50%, lightyellow 50%, lightyellow 100%) -7px -8px / 16px 16px repeat-x;
}
.ticket:after {
  bottom: -5px;
  background: radial-gradient(circle, transparent, transparent 50%, lightyellow 50%, lightyellow 100%) -7px -2px / 16px 16px repeat-x;
}

